@font-face {
    font-family: OrangeJuice;
    src: url(../fonts/OrangeJuice.otf);
}

body {
    /* background: url(../images/our-fruits/bg.png); */
    
    background: url(../images/our-fruits/bg.png) center/cover no-repeat border-box;
    background-position: left 10% top 30%;

    /* background-image: url(../images/our-fruits/bg.png);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: auto, cover;
    margin: 0; */
}

main {
    width: 100%; 
    /* max-width: 100rem; */
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    /* background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/our-fruits/bg.png); */
    
}

.container {
    width: 100%; 
    max-width: 70rem;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    color: white;
    font-family: OrangeJuice;
    font-size: 5rem;
    line-height: 1.125;
}

#overview {
    z-index: -1;
    width: 100%;
    margin-top: 5rem;
    text-align: left;
}

.overview-badge {
    margin-top: 4rem;
    font-family: OrangeJuice;
    font-size: 2.8rem;
    border-radius: 30px;
    padding-top: 10px;
}

.our-fruits-badge {
    font-family: OrangeJuice;
    font-size: 2.8rem;
    border-radius: 30px;
    padding-top: 10px;
}

#our-fruits {
    z-index: -1;
    width: 100%;
    margin-top: 20rem;
}

.section__description {
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.025rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0;
    text-align: justify;
}

#fruits {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    max-width: 90rem;
    margin-top: 7rem;
}

.fruit {
    text-align: center;
}

.fruit img:hover {
    cursor: pointer;
}

.fruit-badge {
    text-align: center;
    background-color: white;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
}

.card-shadow__center {
    text-align: center;
}

.modal-title {
    margin: 0 auto;
}



@media (max-width: 1680px) {
    .fruit img {
        width: 180px;
    }

    .fruit-badge {
        width: 190px;
    }
}

@media (max-width: 1400px) {
    .fruit img {
        width: 150px;
    }

    .fruit-badge {
        width: 150px;
    }
}

@media (max-width: 1280px) {
    
}

@media(max-width: 750px) {
    .container {
        max-width: 40rem;
    }

    .overview-badge {
        margin-left: auto;
        margin-right: auto;
    }

    #fruits {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 3fr 3fr 3fr 3fr;
        width: 100%;
        max-width: 90rem;
        margin-top: 7rem;
    }

    #our-fruits {
        margin-top: 8rem;
    }

    .our-fruits-badge {
        margin: 0 auto;
    }

    .fruit img {
        width: 100px;
    }

    .fruit-badge {
        width: 150px;
        font-size: 0.8rem;
    }
}

@media(max-width: 670px) {

    .container {
        max-width: 30rem;
    }
}

@media(max-width: 450px) {

    .container {
        max-width: 22rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .overview-header {
        color: white;
        font-size: 2.8rem;
    }

    .overview-title {
        margin: 0 auto;
    }

    .our-fruits-title {
        margin: 42rem auto 0 auto;
        font-size: 1.5rem;
    }

    #fruits {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20% 20% 20%;
        width: 20rem;
        max-width: 20rem;
    }

    .fruit img {
        width: 100px;
    }

    .fruit-badge {
        width: 150px;
        font-size: 0.8rem;
    }
}

@media(max-width: 380px) {
    .container {
        max-width: 20rem;
    }
}

@media(max-width: 320px) {

    .container {
        max-width: 17rem;
    }
}