.web-header {
    height: 5rem;
    background-color: white;
}

.web-nav__items {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 12rem;
}

.web-nav__item a {
    text-decoration: none;
    color: #595959;
    margin: 0;
    padding: 0 1rem;
    font-family: NexaBold;
}

.web-nav__item a:hover {
    color: #32B19F;
}

.web-nav__item .active {
    color: #32B19F;
}

.web-nav__items--pipe {
    border-right: 1px solid #595959;
}

#nav-bottom {
    display: flex;
    justify-content: center;
    background-color: white;
}

.nav-bottom__line {
    background-image: url('../../../images/saman/shared/color-line.png');
    height: 0.6rem;
    width: 100%;
    background-position: 38% 40%;
}

.web-nav {
    margin-top: 1rem;
}

.web-nav__brand img {
    width: 8rem;
    position: absolute; 
    top: -0.5rem;
}

.web-header__container {
    display: flex;
    padding-top: 0.8rem;
    align-items: center;
    justify-content: space-around;
    max-width: 100rem;
    margin: 0 auto;
}

.mobile-nav {
    display: flex; 
    justify-content: space-between;
}

.mobile-nav__items {
    height: 0;
    width: 100%;
    position: absolute;
    transition: 0.5s;
}

@media (min-width: 750px) {
    .mobile-header {
        display: none;
    }
}

@media(max-width: 750px) {

    .web-header {
        display: none;
    }

    .mobile-header {
        display: block;
        background-color: white;
    }

    #nav-bottom {
        display: none;
    }

    .nav-bottom__line {
        background-image: url('../../images/shared/color-line.png');
    }

    .toggle-button {
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: middle;
      }
      
    .toggle-button:focus {
        outline: none;
    }
    
    .toggle-button__bar {
        width: 100%;
        height: 0.2rem;
        background: dimgray;
        display: block;
        margin: 0.3rem 0 0.3rem 0.5rem;
        border-radius: 20px;
      }

    .mobile-header__brand {
        display: flex;
        justify-content: center;
    }

    .mobile-header__brand img {
        position: absolute;
        z-index: 1;
        width: 6rem;
        top: -0.7rem
    }
    
    .mobile-nav__items {
        overflow: hidden;
        background: #51C9B5;
        text-align: center;
    }

    .mobile-nav__item {
        border-bottom: 1px solid white;
    }
      
    .mobile-nav__items a {
        font-family: NexaBold;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        padding-top: 20px;
    }
      
    .mobile-nav__items a:hover {
        background-color: #ddd;
        color: #595959;
    }

    #mobile-nav__items--container:first-child {
        margin-top: 40px;
    }
}